.tile-container {
  position: relative;
}

.tile {
  position: absolute;
  background-color: whitesmoke;
  transition: 0.3s;
}

.tile-clickable {
  transition: 0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -o-transition:0.3s;
}

.tile-overlay {
  position: absolute;
  box-shadow: 0px 0px 6px 3px var(--edge) inset;
  background-color: var(--overlay);
  opacity: var(--opacity);
  transition: 0.3s;
}

.tile-overlay:hover {
  background-color: var(--hover-fill);
  transition: 0.3s;
}

